.button {
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  box-sizing: border-box;
}
.button:focus {
  box-shadow: 0 0 0 5px var(--ghost-green-color);
  outline: 2px solid var(--ghost-green-color);
}
.primary-button {
  background: var(--dark-green-color);
  border: 2px solid var(--dark-green-color);
  color: white;
  border: none;
}
.primary-button:hover {
  background: var(--dark-green-color);
  opacity: 0.9;
}
.secondary-button {
  color: var(--dark-green-color);
  border: 2px solid var(--dark-green-color);
}
.secondary-button:hover {
  color: var(--dark-green-color);
  border: 2px solid var(--dark-green-color);
  opacity: 0.9;
}
.ghost-button {
  color: var(--dark-green-color);
}
.ghost-button:hover {
  background: var(--ghost-green-color);
}
.underline-button {
  color: var(--dark-green-color);
}
.underline-button:focus {
  outline: none;
  box-shadow: none;
}
.underline-button:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-green-color);
}

.primaryToSecondary-button {
  background: var(--dark-green-color);
  color: white;
  border: 2px solid var(--dark-green-color);
}
.primaryToSecondary-button:hover {
  color: var(--dark-green-color);
  border: 2px solid var(--dark-green-color);
  background: transparent;
}
.secondaryToPrimary-button {
  color: var(--dark-green-color);
  border: 2px solid var(--dark-green-color);
  background: transparent;
}
.secondaryToPrimary-button:hover {
  background: var(--dark-green-color);
  color: white;
  border: 2px solid var(--dark-green-color);
}

/* // css for red color buttons */

.primary-buttonred {
  background: #ef4444;
  border: 2px solid #ef4444;
  color: white;
  border: none;
}
.primary-buttonred:hover {
  background: #ef4444;
  opacity: 0.7;
}
.secondary-buttonred {
  color: #ef4444;
  border: 2px solid #ef4444;
}
.secondary-buttonred:hover {
  color: #ef4444;
  border: 2px solid #ef4444;
  opacity: 0.9;
}
.ghost-buttonred {
  color: #ef4444;
}
.ghost-buttonred:hover {
  background: #fecaca;
}
.underline-buttonred {
  color: #ef4444;
}
.underline-buttonred:focus {
  outline: none;
  box-shadow: none;
}
.underline-buttonred:hover {
  text-decoration: underline;
  text-decoration-color: #ef4444;
}

.primaryToSecondary-buttonred {
  background: #ef4444;
  color: white;
  border: 2px solid #ef4444;
}
.primaryToSecondary-buttonred:hover {
  color: #ef4444;
  border: 2px solid #ef4444;
  background: transparent;
}
.secondaryToPrimary-buttonred {
  color: #ef4444;
  border: 2px solid #ef4444;
  background: transparent;
}
.secondaryToPrimary-buttonred:hover {
  background: #ef4444;
  color: white;
  border: 2px solid #ef4444;
}

/* // size CSS start */
.xs-button {
  font-size: var(--xs-font-size);
  padding: var(--xs-button-padding);
}
.sm-button {
  font-size: var(--sm-font-size);
  padding: var(--sm-button-padding);
}
.md-button {
  font-size: var(--md-font-size);
  padding: var(--md-button-padding);
}
.lg-button {
  font-size: var(--lg-font-size);
  padding: var(--lg-button-padding);
}
