.page-header {
  border-top: 5px solid var(--dark-green-color);
}
.container {
  width: 60%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fork-ui-heading {
  color: var(--dark-green-color);
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links > p,
a {
  margin-left: 0.85rem;
  text-decoration: none;
  color: black;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.nav-links > p:hover,
a:hover {
  color: var(--dark-green-color);
  border-bottom: 3px solid var(--dark-green-color);
}

.nav-links > p:active,
a:active {
  color: var(--dark-green-color);
  border-bottom: 3px solid var(--dark-green-color);
}

.open-sidebar-icon {
  position: relative;
  float: right;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .page-header {
    border-bottom: 2px solid var(--dark-green-color);
    border-top: none;
    padding: 0.5rem;
    z-index: 3;
  }
  .container {
    width: 90%;
  }
  .header {
    justify-content: flex-start;
  }
  .fork-ui-heading {
    display: none;
  }
  .open-sidebar-icon {
    display: block;
  }
}
