.password-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.make-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
