.documentation {
  width: 70%;
  /* margin: auto; */
  margin-right: 3rem;
  margin-top: 2rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .documentation {
    width: 95%;
    margin: auto;
  }
}
