.input {
  border-radius: 5px;
  background: transparent;
}
.input:disabled,
.input[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc90;
  color: #666666;
  cursor: not-allowed;
}
.basic-input {
  color: black;
  border: 2px solid grey;
}

.basic-input::placeholder {
  color: #bbbbbb;
}
.basic-input:focus {
  box-shadow: 0 0 0 5px var(--ghost-green-color);
  outline: 2px solid var(--ghost-green-color);
}
.filled-input {
  background: #ededed;
  border: 2px solid grey;
}
.filled-input:focus {
  background: white;
  box-shadow: 0 0 0 5px var(--ghost-green-color);
  outline: 2px solid var(--ghost-green-color);
}
.flushed-input {
  border: none;
  border-bottom: 2px solid grey;
  background: transparent;
  border-radius: 0;
  transition: 0.5s ease-in;
}
.flushed-input:focus {
  outline: none;
  border-bottom: 2px solid var(--dark-green-color);
}
.unstyled-input {
  border: none;
  background: transparent;
}
.unstyled-input:focus {
  outline: none;
}
.xs-input {
  font-size: var(--xs-font-size);
  padding: var(--xs-button-padding);
}
.sm-input {
  font-size: var(--sm-font-size);
  padding: var(--sm-button-padding);
}
.md-input {
  font-size: var(--md-font-size);
  padding: var(--md-button-padding);
}
.lg-input {
  font-size: var(--lg-font-size);
  padding: var(--lg-button-padding);
}
