:root {
  --dark-green-color: #20a546;
  --ghost-green-color: #a7f3d0;
  --xs-font-size: 0.75rem;
  --sm-font-size: 0.875rem;
  --md-font-size: 1rem;
  --lg-font-size: 1.125rem;
  --xs-button-padding: 0.25rem 0.5rem;
  --sm-button-padding: 0.45rem 0.85rem;
  --md-button-padding: 0.55rem 1rem;
  --lg-button-padding: 0.75rem 1.25rem;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: none;
}
.main-area {
  display: flex;
  margin-top: 2rem;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .App {
    overflow-x: hidden;
  }
  .main-area {
    display: block;
  }
}
