:root {
  --dark-green-color: #20a546;
  --ghost-green-color: #9ae0b580;
  --xs-font-size: 0.75rem;
  --sm-font-size: 0.875rem;
  --md-font-size: 1rem;
  --lg-font-size: 1.125rem;
  --xs-button-padding: 0.25rem 0.5rem;
  --sm-button-padding: 0.5rem 0.75rem;
  --md-button-padding: 0.75rem 1rem;
  --lg-button-padding: 1rem 1.5rem;
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}
